.app.dark {
  --bg-color: #4141ec;
  --inverted-bg-color: #e1e1e1;

  --primary-color: #4c954c;
  --secondary-color: #b34505;
  --inverted-primary-color: #2d20b9;
  --inverted-secondary-color: #b29efc;
}
