.app.light {
  --bg-color: #e1e1e1;
  --inverted-bg-color: #4141ec;
  --primary-color: #2d20b9;
  --secondary-color: #b29efc;
  --inverted-primary-color: #04fb04;
  --inverted-secondary-color: #219421;
}
